$subjectBlockHeight: 30px;
$blockWidth: 40px;

$schedulerContainerHeight: $subjectBlockHeight*7;

/**, :before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, :before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}*/

.scheduler-container {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.2;
  position: relative;
  height: 300px;
  margin-right: 10px;
  margin-left: 10px;
  //border: 1px solid crimson;

  .scheduler-left-side {
    position: absolute;
    left: 0;
    width: 88px;
    // border: 1px solid crimson;
    padding-top: 41px;

    .scroll-c {
      height: 13px;
      border-left: 1px solid #DADFEA;
      border-bottom: 1px solid #DADFEA;
      //background-color: #FAFAFA;
    }
    .scroll-preview {
      height: 30px;
      border-left: 1px solid #DADFEA;
    }

    .leftside-row {

      border-top: 1px solid #DADFEA;
      border-left: 1px solid #DADFEA;
      //border-right: 1px solid #DADFEA;
      height: $subjectBlockHeight;
      padding-left: 10px;
      padding-top: 5px;
      span {
        font-size: 12px;
        color: #8C97B2;
      }
    }
  }

  .leftside-row-bottom {
    height: 40px;
    border-top: 1px solid #DADFEA;
    border-left: 1px solid #DADFEA;
    border-bottom: 1px solid #DADFEA;
    //background-color: #FBFBFB;
  }
}

.scheduler-content {
  margin-left: 88px;
  margin-right: 1px;
  position: relative;

  .content-header {
    overflow: hidden;
    position: absolute;
    display: block;
    top: 0;
    //left: -21px;
    width: 100%;
    height: 40px;
    /*padding-left: 67px;*/
    padding-top: 12px;

    .header-scroll {

      .header-block {
        /*width: $blockWidth;*/
        display: inline-block;
        span {
          color: #8C97B2;
          font-size: 10px;
          display: block;
          text-align: center;
          margin-left: -72px;
          &.header-oclock {
            font-size: 14px;
          }
          &.header-no-oclock {
            &.header-no-after9 {
              margin-left: -37px;
            }
          }
        }
      }
    }
  }

  .content-body {
    overflow-x: scroll;
    position: absolute;
    z-index: 101;
    height: $schedulerContainerHeight+15;
    top: 41px;
    width: 100%;
    border-bottom: 1px solid #DADFEA;

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
      background-clip: border-box;
      /*      border: solid transparent;
            border-width: 1.1px 1.1px 1.1px 0;*/
      min-height: 28px;
      padding: 0 0 0;
      /*      -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
            box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);*/
    }

    &::-webkit-scrollbar-button {
      height: 0;
      width: 0;
    }

    &::-webkit-scrollbar {
      width: 12px;
      height: 42px;
    }

    .body-scroll {

      user-select: none;
      position: absolute;
      height: $schedulerContainerHeight;
      //width: $scrollWidth;
      //width: 14650px;

      .subject-block, .event-block, .appointment-block {
        border-top: 1px solid #DADFEA;
        display: inline-block;
        // color: crimson;

        margin-bottom: -4px;
        // box-sizing: border-box;
      }

      .event-block, .appointment-block {
        // height: $eventAppointmentBlockHeight;

      }

      .scheduler-row {
        .scheduler-subject {
          .subject-block {
            .event {
              /*              padding-top: 7px;
                            material-icon {
                              &:hover {
                                cursor: pointer;
                                color: #666;
                              }
                            }*/
              .event-header {
                height: 5px;
                background-color: lightgreen;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;

              }
              .event-body {
                color: #8C97B2;
                //padding: 5px;
                padding-left: 5px;
                .event-time {
                  font-size: 10px;
                  display: block;
                  //color: black;
                }
                label {
                  //  display: block;
                  font-size: 10px;
                  text-align: center;
                  &.subject {
                    font-size: 12px;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }

        .scheduler-event {
          .event-block {

          }
        }
        .scheduler-appointment {
          .appointment-block {

          }
        }
      }
    }
  }
  .content-footer {
    overflow: hidden;
    position: absolute;
    z-index: 100;
    display: block;
    top: 267px;
    width: 100%;
    height: 40px;
    //border-top: 1px solid #DADFEA;
    border-top: 1px solid #DADFEA;
    //border-right: 1px solid #DADFEA;
    background-color: white;

    table {
      height: 35px;
      width: 100%;
      margin-top: 4px;
      margin-bottom: 4px;
      tbody {
        tr {
          // border-top: 1px solid cyan;
          td {
            box-sizing: border-box;
            padding: 1px;
            //   border-left: 1px solid cyan;
          }
        }
      }
    }
    .draggable {
      top: 0;
      position: absolute;
      height: 100%;
      width: 20px;
      cursor: pointer;
      background-color: rgba(111, 111, 111, 0.35);
    }
  }
}

.scheduler-overlay {
  &.dark-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    -webkit-transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
    transition: all 600ms cubic-bezier(0.200, 0.965, 0.000, 1.005);
  }

  .scheduler-popup {
    width: 400px;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 2px 4px 4px rgba(0, 0, 0, 0.12);
    material-input {
      width: 100%;
    }
  }
}

//dialog
.blue:not([disabled]) {
  background-color: #2196F3;
  color: white;
}

.white:not([disabled]) {
  background-color: white;
  color: #4285f4;
}

.error-button {
  margin: 8px;
}

.basic-dialog,
.basic-scrolling-dialog,
.max-height-dialog,
.headered-dialog,
.custom-colors-dialog,
.no-header-footer-dialog {
  width: 480px;
}

.basic-dialog {
  .dialog-container {
    material-input {
      display: block;
      width: 100%;
    }
  }
}

.basic-scrolling-dialog {
  height: 320px;
}

.basic-scrolling-dialog > div {
  padding: 8px;
}

.max-height-dialog {
  max-height: 40vh;
}

.dialog-with-error,
.info-dialog {
  width: 320px;
}

.custom-colors-dialog {
  background-color: #b7e1cd;
}

.no-header-footer-dialog {
  height: 6em;
}

