/**, :before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, :before, :after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}*/
.scheduler-container {
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.2;
  position: relative;
  height: 300px;
  margin-right: 10px;
  margin-left: 10px; }
  .scheduler-container .scheduler-left-side {
    position: absolute;
    left: 0;
    width: 88px;
    padding-top: 41px; }
    .scheduler-container .scheduler-left-side .scroll-c {
      height: 13px;
      border-left: 1px solid #DADFEA;
      border-bottom: 1px solid #DADFEA; }
    .scheduler-container .scheduler-left-side .scroll-preview {
      height: 30px;
      border-left: 1px solid #DADFEA; }
    .scheduler-container .scheduler-left-side .leftside-row {
      border-top: 1px solid #DADFEA;
      border-left: 1px solid #DADFEA;
      height: 30px;
      padding-left: 10px;
      padding-top: 5px; }
      .scheduler-container .scheduler-left-side .leftside-row span {
        font-size: 12px;
        color: #8C97B2; }
  .scheduler-container .leftside-row-bottom {
    height: 40px;
    border-top: 1px solid #DADFEA;
    border-left: 1px solid #DADFEA;
    border-bottom: 1px solid #DADFEA; }

.scheduler-content {
  margin-left: 88px;
  margin-right: 1px;
  position: relative; }
  .scheduler-content .content-header {
    overflow: hidden;
    position: absolute;
    display: block;
    top: 0;
    width: 100%;
    height: 40px;
    /*padding-left: 67px;*/
    padding-top: 12px; }
    .scheduler-content .content-header .header-scroll .header-block {
      /*width: $blockWidth;*/
      display: inline-block; }
      .scheduler-content .content-header .header-scroll .header-block span {
        color: #8C97B2;
        font-size: 10px;
        display: block;
        text-align: center;
        margin-left: -72px; }
        .scheduler-content .content-header .header-scroll .header-block span.header-oclock {
          font-size: 14px; }
        .scheduler-content .content-header .header-scroll .header-block span.header-no-oclock.header-no-after9 {
          margin-left: -37px; }
  .scheduler-content .content-body {
    overflow-x: scroll;
    position: absolute;
    z-index: 101;
    height: 225px;
    top: 41px;
    width: 100%;
    border-bottom: 1px solid #DADFEA; }
    .scheduler-content .content-body::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.1);
      background-clip: border-box;
      /*      border: solid transparent;
            border-width: 1.1px 1.1px 1.1px 0;*/
      min-height: 28px;
      padding: 0 0 0;
      /*      -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
            box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1), inset 0 -1px 0 rgba(0, 0, 0, 0.07);*/ }
    .scheduler-content .content-body::-webkit-scrollbar-button {
      height: 0;
      width: 0; }
    .scheduler-content .content-body::-webkit-scrollbar {
      width: 12px;
      height: 42px; }
    .scheduler-content .content-body .body-scroll {
      user-select: none;
      position: absolute;
      height: 210px; }
      .scheduler-content .content-body .body-scroll .subject-block, .scheduler-content .content-body .body-scroll .event-block, .scheduler-content .content-body .body-scroll .appointment-block {
        border-top: 1px solid #DADFEA;
        display: inline-block;
        margin-bottom: -4px; }
      .scheduler-content .content-body .body-scroll .scheduler-row .scheduler-subject .subject-block .event {
        /*              padding-top: 7px;
                      material-icon {
                        &:hover {
                          cursor: pointer;
                          color: #666;
                        }
                      }*/ }
        .scheduler-content .content-body .body-scroll .scheduler-row .scheduler-subject .subject-block .event .event-header {
          height: 5px;
          background-color: lightgreen;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px; }
        .scheduler-content .content-body .body-scroll .scheduler-row .scheduler-subject .subject-block .event .event-body {
          color: #8C97B2;
          padding-left: 5px; }
          .scheduler-content .content-body .body-scroll .scheduler-row .scheduler-subject .subject-block .event .event-body .event-time {
            font-size: 10px;
            display: block; }
          .scheduler-content .content-body .body-scroll .scheduler-row .scheduler-subject .subject-block .event .event-body label {
            font-size: 10px;
            text-align: center; }
            .scheduler-content .content-body .body-scroll .scheduler-row .scheduler-subject .subject-block .event .event-body label.subject {
              font-size: 12px;
              font-weight: bold; }
  .scheduler-content .content-footer {
    overflow: hidden;
    position: absolute;
    z-index: 100;
    display: block;
    top: 267px;
    width: 100%;
    height: 40px;
    border-top: 1px solid #DADFEA;
    background-color: white; }
    .scheduler-content .content-footer table {
      height: 35px;
      width: 100%;
      margin-top: 4px;
      margin-bottom: 4px; }
      .scheduler-content .content-footer table tbody tr td {
        box-sizing: border-box;
        padding: 1px; }
    .scheduler-content .content-footer .draggable {
      top: 0;
      position: absolute;
      height: 100%;
      width: 20px;
      cursor: pointer;
      background-color: rgba(111, 111, 111, 0.35); }

.scheduler-overlay.dark-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  -webkit-transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005);
  transition: all 600ms cubic-bezier(0.2, 0.965, 0, 1.005); }
.scheduler-overlay .scheduler-popup {
  width: 400px;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 3px 2px 4px 4px rgba(0, 0, 0, 0.12); }
  .scheduler-overlay .scheduler-popup material-input {
    width: 100%; }

.blue:not([disabled]) {
  background-color: #2196F3;
  color: white; }

.white:not([disabled]) {
  background-color: white;
  color: #4285f4; }

.error-button {
  margin: 8px; }

.basic-dialog,
.basic-scrolling-dialog,
.max-height-dialog,
.headered-dialog,
.custom-colors-dialog,
.no-header-footer-dialog {
  width: 480px; }

.basic-dialog .dialog-container material-input {
  display: block;
  width: 100%; }

.basic-scrolling-dialog {
  height: 320px; }

.basic-scrolling-dialog > div {
  padding: 8px; }

.max-height-dialog {
  max-height: 40vh; }

.dialog-with-error,
.info-dialog {
  width: 320px; }

.custom-colors-dialog {
  background-color: #b7e1cd; }

.no-header-footer-dialog {
  height: 6em; }

/*# sourceMappingURL=time_chooser_component.css.map */
