<div #calendarScheduler>
    <!--    <div class="scheduler-overlay dark-overlay" *ngIf="showOverlay">
            <div class="scheduler-popup" [ngStyle]="popUpStyles">

            </div>
        </div>-->
    <div class="scheduler-container">
        <div class="scheduler-left-side">
            <div class="leftside-row" *ngFor="let day of bodyDays" [ngStyle]="day.styles">
                <span>{{day.name}}</span>
            </div>
            <div class="scroll-preview"></div>
            <div class="scroll-c"></div>
        </div>
        <div class="scheduler-content">
            <div class="content-header">
                <div class="header-scroll">
                    <div class="header-block"
                         *ngFor="let time of horarioList;let i=index;"
                         [ngStyle]="time.styles">
                        <span [ngClass]="{
                        'header-oclock':time.isOclock,
                        'header-no-oclock':!time.isOclock}">{{time.time}}</span>

                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="body-scroll">
                    <div class="scheduler-row" *ngFor="let day of bodyDays">
                        <div class="scheduler-subject">
                            <div class="subject-block"
                                 *ngFor="let block of day.blocks"
                                 [ngStyle]="block.styles"
                                 [attr.id]="block.id"
                                 [attr.data-startTime]="block.startTime"
                                 [attr.data-endTime]="block.endTime"
                                 [attr.data-row]="block.row"
                                 [attr.data-column]="block.column">
                                <div class="event">
                                    <div *ngIf="block.info!=null">
                                        <div *ngIf="block.info.showMenu">
                                            <material-button icon
                                                             popupSource
                                                             #source="popupSource"
                                                             (click)="block.info.isPopupVisible = !block.info.isPopupVisible">
                                                <material-icon
                                                        icon="more_vert"
                                                        size="x-small"></material-icon>
                                            </material-button>

                                            <material-popup
                                                    [source]="source" [(visible)]="block.info.isPopupVisible">
                                                <material-list>
                                                    <material-list-item (click)="deleteEvent(block)">Eliminar
                                                    </material-list-item>
                                                </material-list>
                                            </material-popup>
                                        </div>
                                        <!--<div class="event-header"></div>-->
                                        <!--                                        <div class="event-body">
                                                                                    &lt;!&ndash;  <span class="event-time">{{block.info.startTime}} - {{block.info.endTime}}</span>&ndash;&gt;
                                                                                    <label class="subject">{{block.info.subject}} - </label>
                                                                                    <label>{{block.info.profesor}} - </label>
                                                                                    <label>{{block.info.room}}</label>
                                                                                </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                    <div class="scheduler-event">
                                                <div class="event-block"
                                                     *ngFor="let block of day.blocks;let i=index"
                                                     [ngClass]="{'border-dashed':block.isDashed,'border-solid':!block.isDashed}">
                                                </div>
                                            </div>
                                            <div class="scheduler-appointment">
                                                <div class="appointment-block"
                                                     *ngFor="let block of day.blocks;let i=index"
                                                     [ngClass]="{'border-dashed':block.isDashed,'border-solid':!block.isDashed}">
                                                </div>
                                            </div>-->
                    </div>
                </div>
            </div>
            <div class="content-footer" #schedulerScroll>
                <table>
                    <tbody>
                    <tr *ngFor="let d of footerDays">
                        <td *ngFor="let b of d.blocks"
                            [ngStyle]="b.styles"></td>
                    </tr>
                    </tbody>
                </table>
                <!--  <div class="draggable" style="width: 52px;height: 40px"></div>-->
            </div>
        </div>
    </div>
</div>