<!--<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-2">
            <div class="input-form row">
                <div class="col-xs-12">
                    <material-input label="Dia"
                                    leadingGlyph="today"
                                    [(ngModel)]="data.dayName">
                    </material-input>

                    <material-input label="Hora"
                                    floatingLabel
                                    [disabled]="true"
                                    leadingGlyph="access_time"
                                    [(ngModel)]="accesTime">
                    </material-input>
                    <material-auto-suggest-input label="Asignatura"
                                                 floatingLabel
                                                 leadingGlyph="book"
                                                 [(inputText)]="data.subject"
                                                 [suggestions]="subjects"
                                                 [popupMatchInputWidth]="true"
                                                 [showClearIcon]="showSubjectClearIncon"
                                                 [limit]="5">
                    </material-auto-suggest-input>

                    <material-auto-suggest-input label="Profesor"
                                                 floatingLabel
                                                 leadingGlyph="person"
                                                 [(inputText)]="data.profesor"
                                                 [suggestions]="teachers"
                                                 [popupMatchInputWidth]="true"
                                                 [showClearIcon]="showTeacherClearIncon"
                                                 [limit]="5">
                    </material-auto-suggest-input>

                    <material-auto-suggest-input label="Sala"
                                                 floatingLabel
                                                 leadingGlyph="domain"
                                                 [(inputText)]="data.room"
                                                 [suggestions]="rooms"
                                                 [popupMatchInputWidth]="true"
                                                 [showClearIcon]="showRoomClearIncon"
                                                 [limit]="5">
                    </material-auto-suggest-input>
                </div>
                <div class="col-xs-6">
                    <div class="pull-right">
                        <material-button autoFocus clear-size class="white">
                            Cancelar
                        </material-button>

                        <material-button clear-size (click)="accept()">
                            Aceptar
                        </material-button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-10">
            <time-scheduler #timeScheduler
                            (rangeSelected)="onRangeSelected($event)"
                            [(blockDetail)]="data"
                            [(blockDetailList)]="blockDetailList"></time-scheduler>
        </div>
    </div>
</div>-->

<time-chooser #timeChooser
              (onSchedulerModified)="onSchedulerModified($event)"
              (onTimeCreated)="onTimeCreated($event)"
              [(blockDetailList)]="blockDetailList"></time-chooser>


