<div #calendarScheduler>
    <!--    <div class="scheduler-overlay dark-overlay" *ngIf="showOverlay">
            <div class="scheduler-popup" [ngStyle]="popUpStyles">

            </div>
        </div>-->
    <div class="scheduler-container">
        <div class="scheduler-left-side">
            <div class="leftside-row" *ngFor="let day of days" [ngStyle]="day.styles">
                <span>{{day.name}}</span>
            </div>
            <div class="scroll-preview"></div>
            <div class="scroll-c"></div>
        </div>
        <div class="scheduler-content">
            <div class="content-header">
                <div class="header-scroll">
                    <div class="header-block"
                         *ngFor="let time of horarioList;let i=index;"
                         [ngStyle]="time.styles">
                        <span [ngClass]="{
                        'header-oclock':time.isOclock,
                        'header-no-oclock':!time.isOclock}">{{time.time}}</span>

                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="body-scroll">
                    <div class="scheduler-row" *ngFor="let day of days">
                        <div class="scheduler-subject">
                            <div class="subject-block"
                                 *ngFor="let block of day.blocks"
                                 [ngStyle]="block.styles"
                                 [attr.id]="block.id"
                                 [attr.data-row]="block.row"
                                 [attr.data-column]="block.column">
                                <div class="event">
                                    <div *ngIf="block.info!=null">
                                        <div class="event-header"></div>
                                        <div class="event-body">
                                            <!--  <span class="event-time">{{block.info.startTime}} - {{block.info.endTime}}</span>-->
                                            <label class="subject">{{block.info.subject}} - </label>
                                            <label>{{block.info.profesor}} - </label>
                                            <label>{{block.info.room}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--                    <div class="scheduler-event">
                                                <div class="event-block"
                                                     *ngFor="let block of day.blocks;let i=index"
                                                     [ngClass]="{'border-dashed':block.isDashed,'border-solid':!block.isDashed}">
                                                </div>
                                            </div>
                                            <div class="scheduler-appointment">
                                                <div class="appointment-block"
                                                     *ngFor="let block of day.blocks;let i=index"
                                                     [ngClass]="{'border-dashed':block.isDashed,'border-solid':!block.isDashed}">
                                                </div>
                                            </div>-->
                    </div>
                </div>
            </div>
            <div class="content-footer" #schedulerScroll>
                <table>
                    <tbody>
                    <tr *ngFor="let d of days2">
                        <td *ngFor="let b of d.blocks"
                            [ngStyle]="b.styles"></td>
                    </tr>
                    </tbody>
                </table>
                <!--  <div class="draggable" style="width: 52px;height: 40px"></div>-->
            </div>
        </div>
    </div>
</div>
<modal [visible]="showBasicDialog">
    <material-dialog class="basic-dialog">

        <h3 header>Nueva Asignatura</h3>

        <div class="dialog-container">
            <material-input floating-label label="Asignatura" [(ngModel)]="schedulerInfo.subject"></material-input>
            <material-input floating-label label="Profesor" [(ngModel)]="schedulerInfo.profesor"></material-input>
            <material-input floating-label label="Sala" [(ngModel)]="schedulerInfo.room"></material-input>
        </div>

        <div footer>
            <material-button autoFocus
                             clear-size
                             (trigger)="onCancelDialog()"
                             class="white">
                Cancelar
            </material-button>

            <material-button clear-size
                             (trigger)="onAcceptDialog()"
                             class="white">
                Aceptar
            </material-button>
        </div>

    </material-dialog>
</modal>