/* Copyright (c) 2017, rodrigogajardotobar. All rights reserved. Use of this source code
   is governed by a BSD-style license that can be found in the LICENSE file. */
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);

body, html {
    background-color: white;
}

* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
